@import 'variables';

body {
  /*background: url('../../dist/images/park.jpg') center/cover;*/
  /*height: 100vh;*/
  /*width: 100%;*/
  /*margin: auto;*/

}

.nav {
  background-color: var(--secondary-accent-color);
  height: 48px;
  width: 100%;
  position: relative;
  text-align: center;
  /*margin: auto;*/
}

.mainWrapper {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  display: block;
}

.insideView {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow-y: auto;
  padding-right: 150px;
  text-align: center;
}

.dogIcon {
  width: 30px;
  margin: 8px;
  float: left;
}

.options{
  font-family: ;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

.lowerSection {
  margin-top: 50px;
  text-align: center;
}

.how{
  margin-right: 20px;
}

.what{

}

.facts{
  margin-left: 20px;
}


.mainPup{
  background: url('../../dist/images/park.jpg') center/cover;
  text-align: center;
  height: 500px;
  margin-top: ;
}
.whatAreDogs {
  display: block;
  width: 200px;
  height: 35px;
  background-color: var(--triary-text-color);
  border-color: green;
  margin-left: auto;
  margin-right: auto;
}
.hereDog{
  display: block;
}

.mainPupIcon{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.howPup{
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.howLowerSection{
  display: block;
}
.howPupIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.howDiscription{
  text-align: center;
  display: block;
}
.howButton{
  display: block;
}

.bottomSection{
  margin-top: 50px;
  text-align: center;
  background-color: #3F8DA8;
}
.learnAboutDogsOnlineSection{
  display: block;
}
.sMIG{
  display: inline-block;
}
.spacer {
  display: block;
height: 50px;
}
.parentDiv {
  background-color: var(--triary-text-color);
  margin-top: -130px;
  z-index: 10;
}